[flake8]
doctests = False
exclude =
    .git,
    .github/,
    docs/,
    doc/,
    *.pyc,
    __pycache__,
    requirements/,
    requirements.txt,

max-line-length = 127
hang-closing = False
max-complexity = 10

# Default flake8 formatting is '%(path)s:%(row)d:%(col)d: %(code)s %(text)s'
format = '%(path)s:   row %(row)d:   %(code)s %(text)s'


